<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CraftaServ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CraftaServ.Properties.Settings>
            <setting name="PlayLoginSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPropertiesProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPropertiesValue" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayErrorSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerDisconnectSound" serializeAs="String">
                <value>False</value>
            </setting>
        </CraftaServ.Properties.Settings>
    </userSettings>
</configuration>